In [5]:
import pandas as pd

In [6]:
data = pd.read_csv('source/source.csv', encoding='utf-8')
data

,Company,Found Date,City,Nation,Industry,Founder,Investor,Total Founding,Company Type,Operating Status,Last Valuation
0,OpenAI,2015,San Francisco,United States,Artificial Intelligence,Carlos Virella,Andreessen Horowitz,1000120000,Y,Y,NaN
1,Orange DAO,2021,San Francisco,United States,Cryptocurrency,,NEAR,80000000,Y,Y,NaN
2,Carvana,2013,Tempe,United States,Automotive,Ernie Garcia,Citi,4835120000,Y,Y,NaN
3,Nothing,2020,London,United Kingdom,Consumer,Akis Evangelidis,Animoca Brands,150197410,Y,Y,NaN
4,ConsenSys,2014,Brooklyn,United States,Blockchain,Donnie Benjamin,Protocol Labs,726670000,Y,Y,NaN
...,...,...,...,...,...,...,...,...,...,...,...
8989,Fortis Therapeutics,2016,La Jolla,United States,Biotechnology,Bin Liu,Vivo Capital,58000000,Y,Y,150000000.0
8990,CafeX Communications,2013,New York,United States,Collaboration,David Jodoin,Rakuten,49540450,Y,Y,150000000.0
8991,Bond Collective,2013,New York,United States,Coworking,Elie Deitsch,,50000000,Y,Y,150000000.0
8992,Lumos Pharma,2014,Austin,United States,Biopharma,Rick Hawkins,New Enterprise Associates,53500000,Y,Y,150000000.0
8993,Sermonix Pharmaceuticals,2014,Columbus,United States,Biopharma,David Portman,Perceptive Advisors,67550000,Y,Y,150000000.0