In [3]:
import numpy as np
import pandas as pd

In [36]:
data = pd.read_csv('source/source.csv', encoding='utf-8', sep=',')

In [37]:
data.info()
data.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8991 entries, 0 to 8990
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Company           8991 non-null   object
 1   Founded Year      8725 non-null   float64
 2   City              8171 non-null   object
 3   Nation            8171 non-null   object
 4   Industry          8280 non-null   object
 5   Founder           6450 non-null   object
 6   Investor          5273 non-null   object
 7   Total Founding    4502 non-null   float64
 8   Company Type      8164 non-null   object
 9   Operating Status  8674 non-null   object
 10  Last Valuation    2355 non-null   float64
dtypes: float64(3), object(8)
memory usage: 772.8+ KB

,Company,Founded Year,City,Nation,Industry,Founder,Investor,Total Founding,Company Type,Operating Status,Last Valuation
0,OpenAI,2015.0,San Francisco,United States,Artificial Intelligence,Carlos Virella,Andreessen Horowitz,1.000120e+09,for profit,active,NaN
1,Orange DAO,2021.0,San Francisco,United States,Cryptocurrency,NaN,NEAR,8.000000e+07,for profit,active,NaN
2,Carvana,2013.0,Tempe,United States,Automotive,Ernie Garcia,Citi,4.835120e+09,for profit,active,NaN
3,Nothing,2020.0,London,United Kingdom,Consumer,Akis Evangelidis,Animoca Brands,1.501974e+08,for profit,active,NaN
4,ConsenSys,2014.0,Brooklyn,United States,Blockchain,Donnie Benjamin,Protocol Labs,7.266700e+08,for profit,active,NaN